<div class="container">
  <h1 class="title text-center my-5">URL Shortener</h1>
  <div class="jumbotron">
    <div class="image-container">
      <div class="image"></div>
    </div>
  </div>
  <div class="form-container my-5">
    <h4 class="subtitle text-center">{{errorMsg}}</h4>
    <h3 class="subtitle text-center">{{errorLink}}</h3>
  </div>
  <div class="btn-container d-flex justify-content-center my-3">
    <a href="/">
      <button class="btn btn-primary" type="btn">back</button>
    </a>
  </div>
</div>