
<div class="form-container my-5">
  <form action="/" method="POST">
    <input type="url" name="url" class="form-control" placeholder="Input URL here!">
    <div class="btn-container d-flex justify-content-center my-3">
      <button class="btn btn-outline-secondary btn-shorten " type="submit">Shorten</button>
    </div>
  </form>
</div>
</div>