<div class="container">
  <h1 class="title text-center my-5">URL Shortener</h1>
  <div class="jumbotron">
    <div class="imag-container">
      <div class="image">
      </div>
    </div>
  </div>
  <div class="form-container my-5">
    <form action="/" method="POST">
      <input type="url" name="url" class="form-control" placeholder="Input URL here!">
      <div class="btn-container d-flex justify-content-center my-3">
        <button class="btn btn-outline-secondary btn-shorten " type="submit">Shorten</button>
      </div>
    </form>
  </div>
</div>